{% extends 'home/index.html' %}
{% load static %}
{% block content %}

        <style>
       .bgimg {
        height: 90%;
        width: 100%;
        background-image: url( "{% static 'home/img/ed.png' %}");
        }
        .h2, h2 {
         font-size: 2rem;
         text-align: center;
         }
         .para, p{
         font-size: 1rem;
         }
        </style>

<div class="bgimg">
        <h1 class="h2">About RFSC </h1>

       <p class="para">Registrar Firms, Societies and chits UP provide public to get register their societies and firms online, payment online using Online banking & download their certificates through website. This organisation comes under the Ministry of Finance. To manage the societies and to make different laws related to it, Society Registration Act was made in 1860. After passing of this law and being a Central act the work of registration of societies comes under the Central Government’s Registrar Joint Staff Companies U.P.

The amendment of Society Registration Act was done in the year 1975, these amendment were made in form of U.P Amendment Act 1975. Uttar Pradesh Society Registration Rule was made in 1976. Further, U.P Chit Act 1975 was ended and in place of it Chit Fund Act was made in 1982 which was a Central Act. For this act Chit Fund Manual was made in 1988.
</p>
<h3> Works </h3>
<ul>
    <li>
        Society Registration
    </li>
    <li>
        Society Renewal
    </li>
     <li>
        Firm Registration
    </li>
    <li>
        Chit Group Registration
    </li>
    <li>
        Firm/Society Verification
    </li>
    <li>
        Firm/Society User Manual
    </li>
     <li>
        Firm/Society Departmental Process and Checklist
    </li>
    <li>
       Standard Format for Society Registration
    </li>
</ul>

</div>
{% endblock content %}












