{% extends 'home/index.html' %}
{% load static %}
{% block content %}

         <style>.h2, h2 {
         font-size: 2rem;
         text-align: center;
}        </style>
        <h1 class="h2">RFSC User Analysis  </h1>
<div style="width:600px;">
     <div style="width:300px; float:left;">
        <div style="position: relative; display: block; left: 0px; top: 0px; width: 600px; height: 350px; margin: 0px;">
          <br>
          {% include 'home/bar1.html' %}
        </div>
     </div>
    <div style="width:300px; float:right;">
        <div style="position: relative; display: block; left: 320px; top: 0px; width: 600px; height: 350px; margin: 0px;">
          <br>
          {% include 'home/bar2.html' %}
        </div>
    </div>
    <div style="width:300px; float:left;">
       <div style="position: relative; display: block; left: 0px; top: 0px; width: 600px; height: 350px; margin: 0px;">
          <br>
          {% include 'home/bar3.html' %}
        </div>
    </div>
    <div style="width:300px; float:right;">
    </div>
    <div style="clear: both;">
    </div>
</div>
{% endblock content %}